.cardPokemon.opened {
  position: fixed;
  animation: centerElement 0.5s forwards;
  min-width: 200px;
}

@keyframes centerElement {
  from {
    z-index: 10;
  }
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 10;
  }
}

.cardPokemon.closed {
  animation: minimizeElement 0.5s forwards;
}

@keyframes minimizeElement {
  0% {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
  }

  20%{
    z-index: 10;
    position: fixed;
  }
  100%{
    ´position: inherit;
  }
}
