.normal-type {
    background-color: #A8A77A;
}

.fighting-type {
    background-color: #C22E28;
}

.flying-type {
    background-color: #A98FF3;
}

.poison-type {
    background-color: #A33EA1;
}

.ground-type {
    background-color: #E2BF65;
}

.rock-type {
    background-color: #B6A136;
}

.bug-type {
    background-color: #A6B91A;
}

.ghost-type {
    background-color: #735797;
}

.steel-type {
    background-color: #B7B7CE;
}

.fire-type {
    background-color: #EE8130;
}

.water-type {
    background-color: #6390F0;
}

.grass-type {
    background-color: #7AC74C;
}

.electric-type {
    background-color: #F7D02C;
}

.psychic-type {
    background-color: #F95587;
}

.ice-type {
    background-color: #96D9D6;
}

.dragon-type {
    background-color: #6F35FC;
}

.dark-type {
    background-color: #705746;
}

.fairy-type {
    background-color: #D685AD;
}

.unkown-type {
    background-color: #777;
}

.shadow-type {
    background-color: #777;
}

.all-type {
    background-color: antiquewhite;
}